<html>
	<head>
    	<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0,width=device-width"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
		  	<div class="container">
				<navbar class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar" ></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="http://2016.igem.org/Team:TEC-Costa_Rica"><img id="prostal-logo" alt="Prostal Brand" class="featurette-image img-responsive center-block" src="http://2016.igem.org/wiki/images/0/0e/T--TEC-Costa_Rica--prostal_logo.png"></a>
						</div>
						<div id="navbar" class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li id="nav-home" class="dropdown"><a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica">Home</a></li>
								<li id="nav-team" class="dropdown">
									<a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Team">Team</a>
									<ul class="dropdown-menu">
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Team/Members">Members</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Team/Instructors_Investigators">Instructors & Investigators</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Team/Sponsors">Sponsors</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Attributions">Attributions</a></li>
									</ul>
								</li>
								<li id="nav-project" class="dropdown">
									<a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Project">Project</a>
									<ul class="dropdown-menu">
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Project/System">System</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Model">Modelling & Simulations</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Parts">Parts</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Project/Collaborations">Collaborations</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Safety">Safety</a></li>
									</ul>
								</li>
								<li id="nav-judging" class="dropdown">
									<a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Judging">Judging</a>
									<ul class="dropdown-menu">
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Judging/Golden_Medals">Golden Medals</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Judging/Silver_Medals">Silver Medals</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Judging/Bronze_Medals">Bronze Medals</a></li>
									</ul>
								</li>
								<li id="nav-human_practice" class="dropdown">
									<a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Human_Practice">Human Practice</a>
									<ul class="dropdown-menu">
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/HP/Silver">Synbiothon</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/HP/Gold">Integrated Human Practice</a></li>
									</ul>
								</li>
								<li id="nav-notebook" class="dropdown">
									<a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Notebook">Notebook</a>
									<ul class="dropdown-menu">
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Notebook/Laboratory">Laboratory</a></li>
										<li><a href="http://2016.igem.org/Team:TEC-Costa_Rica/Notebook/Protocols">Protocols</a></li>
									</ul>
								</li>
								<li id="nav-interlab" class="dropdown"><a style="color: #e0e0d1;" href="http://2016.igem.org/Team:TEC-Costa_Rica/Interlab">Interlab</a></li>
							</ul>
						</div>
					</div>
				</navbar>
			</div>
		</header>		
	</body>
</html>
